@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=League+Gothic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script:wght@400;500&family=League+Gothic&display=swap');

@font-face {
    font-family: 'minecraftmedium';
    src: url('assets/fonts/minecraft-webfont.woff2') format('woff2'),
         url('assets/fonts/minecraft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
font-family: 'League Gothic', sans-serif;
padding: 0;
margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}
h2 {
    text-transform:  uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
    font-family: 'minecraftmedium';
}
a{
    text-decoration: none;
    color: rgb(223, 223, 223);
}
/* *****************NAVBAR******************* */

header nav {
    overflow: hidden;
    background-color: #27AE60;
    position: fixed;
    width: 100%;
    font-size: 2rem;
    }
    header li {
        float: right;
        font-size: 1.2rem;
        color: white;
        font-size: 2rem;
    }
    header li a {
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 18px 16px;
        color: white;
        font-size: 2rem;
    
    }
    #logo {
        font-family: 'Dancing Script', cursive;
        font-weight: bold;
        float: left;
        font-size: 2rem;
    }
#fa {
    font-family: 'minecraftmedium';
}
h1 {
    font-family: 'minecraftmedium', cursive;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 6em;
    margin-top: 110px;
    text-shadow: 1px 3px 2px rgb(47, 151, 81);
}
#premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color:rgb(173, 230, 181) ;
    text-shadow: 1px 3px 2px black;
}
#imagePrincipale {
    padding-top: 60 px;
    background: url(assets/novaskin-minecraft-wallpaper\ \(6\).jpeg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}
footer {
    background-color: rgb(57, 160, 91);
    color: antiquewhite;
    padding: 20px 0 10px 0;
    text-align: center;
    font-family: 'minecraftmedium';
}
#reste {
    background-color: orange;
}
p {
    font-family: 'minecraftmedium';
    font-size: 1.5rem;
    text-align: center;
}